html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #bb7e56;
  --secondary-color: black;
  --bg-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
}
header {
  max-width: 75%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  list-style: none;
  margin-left: 20px;
}
.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.logo img {
  width: 180px;
}
.homepage {
  max-width: 75%;
  margin: auto;
  height: 80vh;
}
.flex {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 80px;
}
.text {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 70px;
}
.feature {
  background-color: white;
  border-radius: 8px;
  height: 450px;
}
.min {
  max-width: 80%;
  margin: auto;
  padding-top: 90px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reverse {
  flex-direction: row-reverse;
}
.heading h2 {
  max-width: 550px;
  font-weight: 500;
  font-size: 1.3rem;
}
.mag img {
  width: 200px;
}
.flox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content {
  max-width: 80%;
  margin: auto;
}
.box {
  width: 320px;
  height: 350px;
  border: 2px solid rgba(187, 126, 86, 0.5);
  border-radius: 8px;
}
.content h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.mage img {
  width: 300px;
}
.heading p {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.text h1 {
  font-size: 2.5rem;
  max-width: 500px;
  font-weight: 600;
}
.text span {
  font-weight: 900;
  color: var(--primary-color);
}
.mage i {
  color: var(--primary-color);
}
.mages i {
  color: var(--primary-color);
}
.mages img {
  width: 350px;
  margin-right: 40px;
}
.text p {
  max-width: 450px;
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 500;
}
.image img {
  width: 500px;
}
.buttons {
  margin-top: 20px;
}
.buttons button {
  width: 140px;
  height: 35px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  font-family: 1.2rem;
  font-weight: 600;
  font-family: "poppins";
  border-radius: 5px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
.buttons a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  font-family: 1.2rem;
}
.billionpage {
  height: 70vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}
.billionpage h1 {
  font-size: 2.5rem;
  color: white;
}
.billionpage p {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}
.problempage {
  max-width: 75%;
  margin: auto;
  margin-top: 50px;
}
.problempage h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutpage {
  max-width: 75%;
  margin: auto;
}
.aboutpage h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
  margin-top: 50px;
}
.hmm {
  display: flex;
  justify-content: space-around;
}
.k {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.name {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.bruh img {
  width: 100px;
}
.ab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.pl img {
  width: 370px;
}
.blah {
  max-width: 540px;
  font-weight: 500;
  font-size: 1.1rem;
}
.featurepage {
  max-width: 75%;
  margin: auto;
}
.bg {
  background-color: #f1f1ea;
}
.featurepage h1 {
  color: var(--primary-color);
  font-size: 2.3rem;
  padding-top: 50px;
}
.feat {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: var(--bg-color);
  padding: 50px;
  border-radius: 8px;
  height: 400px;
  margin-bottom: 50px;
}
.circle img {
  width: 350px;
}
.bico h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 100;
  color: var(--primary-color);
}
.bico p {
  font-weight: 500;
  max-width: 500px;
  font-size: 1.5rem;
}
.part2 {
  flex-direction: row-reverse;
  /* margin-top: 100px; */
  align-items: center;
}
.width img {
  width: 450px;
}
.pt {
  margin-top: 100px;
}
li {
  font-weight: 500;
  max-width: 500px;
}
.yt {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.yt iframe {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  margin-bottom: 100px;
  height: 500px;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* background: #fff; */
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--primary-color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.icons i {
  margin-top: 50px;
  color: var(--primary-color);
}
/* FOOTER */

/* responsive   */
.final {
  display: flex;
  justify-content: left;
  align-items: center;
}
.wink img {
  width: 80px;
  height: 50px;
  margin-top: 12px;
}
.ok h1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
}
.master p {
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  header {
    max-width: 90%;
  }
  nav {
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 100px;
  }

  .nav-links a {
    font-size: 0.8rem;
  }
  .nav-links li {
    margin-left: 10px;
  }
  .homepage {
    max-width: 90%;
  }
  .mages i {
    margin-top: 30px;
  }
  .mage i {
    margin-top: 30px;
  }
  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text h1 {
    font-size: 2rem;
    justify-content: center;
  }
  .text p {
    font-size: 1em;
  }
  .image img {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
  }
  .problempage {
    max-width: 90%;
  }
  .problempage h1 {
    font-size: 2em;
  }
  .billionpage h1 {
    font-size: 2rem;
  }
  .hmm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .billionpage {
    margin-top: 200px;
  }
  .aboutpage {
    max-width: 90%;
  }
  .aboutpage h1 {
    font-size: 2em;
  }
  .flox {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
  }
  .featurepage {
    max-width: 90%;
  }
  .featurepage h1 {
    font-size: 2em;
  }
  .feature {
    height: 85vh;
  }
  .min {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .heading h2 {
    font-size: 1.1em;
  }
  .mage img {
    width: 50vw;
    margin-top: 40px;
  }
  .mages img {
    width: 55vw;
    margin-top: 40px;
  }
  .mag img {
    width: 35vw;
    margin-top: 20px;
  }
  .yt {
    max-width: 100%;
  }
  .yt iframe {
    max-width: 80vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
